project_id = "pegiensgnptpdnfopnoj"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_signup = true

[functions.create-checkout-session]
verify_jwt = true

[functions.create-portal-session]
verify_jwt = true

[functions.stripe-webhook]
verify_jwt = false

[functions.validate-fortune-limits]
verify_jwt = true

[functions.validate-and-insert-fortune]
verify_jwt = true

[functions.list-pricing]
verify_jwt = false

[functions.get-prices]
verify_jwt = false

[functions.issue-fortune-upload-ticket]
verify_jwt = false

[functions.finalize-fortune-photo]
verify_jwt = false